:root {
    --primary-font: 'Dongle', sans-serif;
    --secondary-font: 'Black Han Sans', sans-serif;
    --test-color: white;
    --base-color: azure;
    --font-color: #37383a;
    --highlight-color: #F55353;
    --primary-color: #F6F54D;
    --secondary-color: #FEB139;
    --dark-color: #143F6B;
}

body {
    margin: 0px;
    font-family: var(--primary-font);
    color: var(--font-color);
}
/* root class */
.no-selection {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}
/* layout */
.md-header {
    height: 100px;
    background-color: var(--base-color);
    font-size: 4.5em;
    text-align: center;
}
.md-body {
    width: 100%;
    background-color: var(--base-color);
    height: calc(100% - 300px);
    min-height: 300px;
}
.md-footer {
    width: 100%;
    height: 100px;
    background-color: var(--base-color);
    position: fixed;
    bottom: 0;
}
/* menu */
.md-menu-box {
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: repeat(3, 150px);
    margin: auto;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}
.md-menu-item {
    background-color: var(--dark-color);
    border-radius: 10px;
    padding: 10px;
    vertical-align: middle;
    line-height: 130px;
    text-align: center;
    font-family: var(--secondary-font);
    color: white;
    font-size: 1.3em;
}
.md-menu-item:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
    transition-property: background-color, color;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}